.feedback-container {
  display: flex;
  flex-direction:column;
  margin-left: 1300px;

  margin-top: -620px;
}

.feedback-form {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  padding-bottom: 40px;
}

.feedback-form input,
.feedback-form textarea {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(239, 239, 245, 0.72);
  color: rgb(50, 39, 174);
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.feedback-form textarea {
  height: 100px;
  resize: none;
}

.feedback-form button,
.load-btn {
  background: rgba(0, 0, 0, 0.6);
  color: rgb(55, 159, 185);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  
}
#reloadButton{
  width: 500px;
}

.feedback-card {
  background: rgba(255, 255, 255, 0.15);
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  color: rgba(5, 5, 64, 0.759);
  width: 480px;
}