
.feedback-container {
  display: flex;
  flex-direction: column;

  margin-left: auto;   /* 🔥 pushes it to the right */
  margin-top: 180px;  /* 🔥 pushes it up (adjust as needed) */
  width: fit-content;  /* prevents full width stretch */
  margin-right: 40px;
}



.feedback-form {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  padding-bottom: 40px;
}

.feedback-form input,
.feedback-form textarea {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid red;
  color: rgb(50, 39, 174);
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  
}

.feedback-form textarea {
  height: 100px;
  resize: none;
  border: 1px solid red;
}

.feedback-form button,
.load-btn {
  background: rgba(0, 0, 0, 0.6);
  color: rgb(55, 159, 185);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  
}
#reloadButton{
  width: 500px;
}

.feedback-card {
  background: rgba(255, 255, 255, 0.15);
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  color: rgba(5, 5, 64, 0.759);
  width: 480px;
}