.promo-video-container{
  width:100%;
  height:350px;
  overflow:hidden;
  margin-top: 10px;
}

.promo-video{
  width:100%;
  height:100%;
  object-fit:cover;
}

#advertiseButton{
  position: absolute;

  left: 12%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.14);
  color: rgb(56, 33, 172);
  border: 1px solid rgb(201, 18, 18);
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  font-size: 50px;
  margin-top: 200px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding : 20px 40px;
  
 
}