.promo-video-container{
  width:100%;
  height:350px;
  overflow:hidden;
  margin-top: 10px;
}

.promo-video{
  width:100%;
  height:100%;
  object-fit:cover;
}
.sticky-element {
  position: sticky;
  top: 0; /* or 10px, 20px, etc */
  z-index: 100; /* helps it stay above other elements */
}
.banner-logo {
  position: absolute;
  top: 0px;
  right: -120px;
  width: 700px; /* adjust size */
  height: 500px;
  z-index: 2;
}